tensorflow
keras
coremltools
jupyter
h5py
six==1.10.0
tqdm
torchvision
http://download.pytorch.org/whl/cpu/torch-0.4.0-cp36-cp36m-linux_x86_64.whl
opencv-python==3.2.0.6
matplotlib==2.1.1
pandas==0.22.0
pillow==5.0.0
scipy==1.0.0
scikit-learn